
.diyibufen{
    width: 100%;
    height: 69px;
    border-bottom:1px solid #f0f0f0 ;
    background-color: #fff;
}
.diyibufen-left{
width: 100%;
height: 100%;
line-height: 69px;
float: left;
}
.diyibufen-left img{
    width: 134px;
    height: 38px;
    margin-top: 10px;
}
.diyibufen-left a{
    font-size: 20px;
    height: 69px;
    width: 100px;
    background-color:#fff;
    color: #5a5d5a;
   padding: 24px 19px;
  
}
.diyibufen-left-dierge{
 margin-left: 38px;  
}
.diyibufen-left a:hover{
    background-color: #ffe443;
}
.diyibufen-right{
    position: relative;
    float: right;
    margin-right: 20px;
    /* display:inline; */

}
.diyibufen-right input{
    margin-top: 14px;
    float: left;
    height: 20px;
    width: 290px;
    border: 0;
    background-color: #f5f5f5;
    padding: 10px 20px;
}
.diyibufen-right-bufen{
    padding: 0;
    background-color: #fff;
    font-size: 20px;

}
.diyibufen-right-bufen:hover{
    background-color: #fff;
}

.dierbufen{
     width: 100%;
     margin-top: 23px;
     height: 18px;
     margin-left: 256px;
}
.dierbufen-bufen{
    width: 100%;
    height: 18px;
    font-size: 18px;

}
     
.dierbufen-bufen a:nth-child(2),
.dierbufen-bufen a:nth-child(3),
.dierbufen-bufen a:nth-child(4),
.dierbufen-bufen a:nth-child(5){
    /* margin-left: 40px; */
    padding-left: 40px;
}




.disanbufen{
    background-color: #f5f5f5;
    width: 100%;
    height: 395px;
}
.disanbufen-left{
    float: left;
    /* line-height: 395px; */
    margin-top: 51px;
    /* text-align: center; */
    width: 293px;
    height: 293px;
}
.disanbufen-left img{
    width: 293px;
    height: 293px;
}

.disanbufen-right{
    width: 791px;
    height: 233px;
    margin-top: 90px;
    float: left;
    margin-left: 45px;

}
.disanbufen-right-yi{
   font-weight: normal;
   font-size: 36px;
}
.disanbufen-right-er{
    margin-top: 37px;
    color: #999;
    height: 20px;
}
.disanbufen-right-er span{
    font-size: 18px;
}
.disanbufen-right-er span:nth-child(2),
.disanbufen-right-er span:nth-child(3),
.disanbufen-right-er span:nth-child(4){
     margin-left: 56px;
}
.disanbufen-right-san{
    margin-top: 29px;
    color: #999;
    height: 18px;
}
.disanbufen-right-er span,
.disanbufen-right-san span{
    font-size: 16px;
}
.disanbufen-right-san a{
    color: #296294;
    font-size: 17px;
    margin-left: 8px;
}
.disanbufen-right-er span:nth-child(2),
.disanbufen-right-er span:nth-child(3),
.disanbufen-right-er span:nth-child(5),
.disanbufen-right-er span:nth-child(4){
     margin-left: 27px;
}

.disanbufen-right-si{
    margin-top: 41px;
    color: #666;
    height: 20px;
}
.disanbufen-right-si a{
    font-size: 18px;
}
.disanbufen-right-si a:nth-child(1){
    background-color: #ffe12c;
    border-radius: 22px;
    padding: 15px 40px;
}
.disanbufen-right-si a:nth-child(2),
.disanbufen-right-si a:nth-child(3){
  background-color: #ebebeb;
  border-radius: 22px;
  margin-left: 15px;
  padding: 15px 40px;
}
.disanbufen-right-si i{
    margin-right: 4px;
}

.disibufen{
    width: 1010px;
    /* float: left; */
    margin-top: 75px;
    background-color: #fff;
    height: 30px;
    margin-left: 223px;
}
.disibufen-yi a{
    font-size: 26px;
    color: #333;
    font-weight: 100;
}
.disibufen-yi a:nth-child(2),
.disibufen-yi a:nth-child(3),
.disibufen-yi a:nth-child(4){
margin-left: 50px;

}
.disibufen-yi a:nth-child(1){
    font-weight: 800;
}


.main-disanhang{
    margin-left: 223px;
    width: 1010px;
    height: 50px;
    margin-top: 33px;
    background-color: #f5f5f5;
}
.flex_c{
    line-height: 50px;
}
.flex_c li{
    float: left;
    color: #a2a2a2;
    font-size: 14px;               ;
}
.head_num{
    margin-left: 36px;
}
.head_name{
    margin-left: 151px;
}
.head_album{
    margin-left: 300px;
}
.head_time{
    margin-left: 300px;
}



.main{
    width: 1010px;
    margin-left: 223px;
   float: left;
}
.main-bufen{
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.main-bufen-yi{
    width: 210px;
    height: 100%;
    float: left;
}
.main-bufen-yi span{
     margin-left: 28px;
     font-size: 16px;
     color: #000;
}
.main-bufen-yi img{
    width: 50px;
    height: 50px;
    margin-left: 82px;
    margin-top: 14px;
}
.main-bufen-er{
    float: left;
    width: 334px;
    height: 100%;
    font-size: 16px;
}
.main-bufen-er span{
    margin-left: 4px;
}
.main-bufen-er span:nth-child(2){
    color: #ecc88f;
}
.main-bufen-er span:nth-child(2){
    color: #666;
}

.main-bufen-san{
    float: left;
    width: 328px;
    height: 100%;
    font-size: 16px;
    color: #666;
}

.main-bufen-si{
    float: left;
    width: 136px;
    height: 100%;
    font-size: 16px;
    color: #666;
}





.main-right {
    width: 344px;
    height: 220px;
    float: left;
    background-color: #fff;
    margin-top: -108px;
    margin-left: 62px;
}
.main-right-yi{
    font-size: 28px;
    color: #000;
    font-weight: 500;
}

.main-right-er{
    margin-top: 18px;
    color: #a2a2a2;
    font-size: 14px;
}
.main-right-san{
    margin-top: 34px;
   
}
.main-right-san span{
     font-size: 40px;
     color: #fff;
     padding: 25px;
}
.main-right-san span:nth-child(1){
    background-color: #3998f3;
}
.main-right-san span:nth-child(2){
    background-color: #13ba82;
    margin-left: 32px;
}
.main-right-san span:nth-child(3 ){
    background-color: #666;
    margin-left: 32px;
}
.main-right-si{
    margin-top: 36px;
    font-size: 16px;
}
.main-right-si span:nth-child(1){
    margin-left: 38px;
}
.main-right-si span:nth-child(2){
    margin-left: 72px;
}
.main-right-si span:nth-child(3){
    margin-left: 58px;
}






.diwubufen{
    width: 100%;
    height: 186px;
   
}
.diwubufen-auto{
    width: 444px;
    height: 186px;
    margin: 0 auto; 
    line-height: 186px;
    
}
.diwubufen-auto span{
    font-size: 16px;
    color: #a2a2a2;
}
.diwubufen-auto span:nth-child(2){
    background-color: #ffdf1f;
    padding: 20px;
}
.diwubufen-auto span:nth-child(2),
.diwubufen-auto span:nth-child(3),
.diwubufen-auto span:nth-child(4),
.diwubufen-auto span:nth-child(5),
.diwubufen-auto span:nth-child(6),
.diwubufen-auto span:nth-child(7){
margin-left: 50px;
}

.diwubufen-auto span:nth-child(3):hover,
.diwubufen-auto span:nth-child(4):hover,
.diwubufen-auto span:nth-child(5):hover,
.diwubufen-auto span:nth-child(6):hover,
.diwubufen-auto span:nth-child(7):hover{
    background-color: #ffdf1f;
    padding: 20px;
}

.diliubufen{
    width: 100%;
    height: 150px;
}
.diliubufen img{
    width: 100%;
    height: 150px;
}












.hei{
    width: 100%;
    height: 70px;
    background-color: #282828;
    margin-top: 180px;
    bottom: 0;
    margin-top: 2606px;
  
}
.dijiubufen{
    /* margin-top: 2606px; */
    width: 100%;
    height: 117px;
    background-color: #282828;
}
.dijiubufen-quyu{
    width: 100%;
    height: 117px;
    overflow: hidden;
    
}
.dijiubufen-quyu-bufen,
.dijiubufen-quyu-bufen-dier{
    width: 235px;
    height: 117px;
    display: inline-block;
}
.dijiubufen-buchong{
    width: 100%;
    height: 50px;
    background-color: #282828;
}


.dijiubufen-quyu-bufen h1,
.dijiubufen-quyu-bufen-dier h1{
color: #ffffff;
font-size: 16px;
padding-bottom: 40px;
}
.dijiubufen-quyu-bufen-dier{
    margin-left: 245px;
}
.dijiubufen-quyu-bufen a{
  display: inline-block;
  color: #808080;
  margin-right: 34px;
}
.dijiubufen-quyu-bufen a span{
    font-size: 35px;
}
.dijiubufen-quyu-bufen a h3{
    padding-top: 5px;
}
.dijiubufen-quyu-bufen-dier a{
margin-top: 39px;
color: #808080;
font-size: 17px;
line-height: 30px;
margin-right: 10px;
}
.dijiubufen-quyu-bufen a:hover,
.dijiubufen-quyu-bufen-dier a:hover,
.dishibufen-quyu-bufen a:hover{
  color: #f2d41d;
}


/* 第十部分 */
.dishibufen{
    width: 100%;
    height: 60px;
    background-color: #1f1f1f;
 
}
.dishibufen-quyu{
    width: 100%;
    height: 60px;
}
.dishibufen-quyu-bufen{
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 21px;
}
.dishibufen-quyu-bufen a{
    color: #808080;
}
.dishibufen-buchong{
    height: 29px;
    width: 100%;
    background-color: #1f1f1f;
}
.dishibufen-buchong{
    width: 100%;
    height: 100px;
    background-color: #1f1f1f;
}
.dishibufen-buchong-yi{
    width: 100%;
    height: 30px;
    background-color: #1f1f1f;
}

/* body{
    overflow: hidden;
} */

