
.diyibufen{
    width: 100%;
    height: 69px;
    border-bottom:1px solid #f0f0f0 ;
    background-color: #fff;
}
.diyibufen-left{
width: 100%;
height: 100%;
line-height: 69px;
float: left;
}
.diyibufen-left img{
    width: 134px;
    height: 38px;
    margin-top: 10px;
}
.diyibufen-left a{
    font-size: 20px;
    height: 69px;
    width: 100px;
    background-color:#fff;
    color: #5a5d5a;
   padding: 24px 19px;
  
}
.diyibufen-left-dierge{
 margin-left: 38px;  
}
.diyibufen-left a:hover{
    background-color: #ffe443;
}
.diyibufen-right{
    position: relative;
    float: right;
    margin-right: 20px;
    /* display:inline; */

}
.diyibufen-right input{
    margin-top: 14px;
    float: left;
    height: 20px;
    width: 290px;
    border: 0;
    background-color: #f5f5f5;
    padding: 10px 20px;
}
.diyibufen-right-bufen{
    padding: 0;
    background-color: #fff;
    font-size: 20px;

}
.diyibufen-right-bufen:hover{
    background-color: #fff;
}

.dierbufen{
     width: 100%;
     margin-top: 23px;
     height: 18px;
     margin-left: 256px;
}
.dierbufen-bufen{
    width: 100%;
    height: 18px;
    font-size: 18px;

}
     
.dierbufen-bufen a:nth-child(2),
.dierbufen-bufen a:nth-child(3),
.dierbufen-bufen a:nth-child(4),
.dierbufen-bufen a:nth-child(5){
    /* margin-left: 40px; */
    padding-left: 40px;
}


.ce{
    width: 333px;
    height: 666px;
    /* border: 1px solid #ccc; */
    margin-top: 30px ;
    margin-left: 222px;
    box-shadow: 0px 0px 2px #ccc;
    float: left;
}

.ce-top{
    width: 100%;
    height: 75px;
    background-color: #fff;
}


.ce-top-top{
    width: 269px;
    height: 72px;
    margin: 0 auto;
    /* margin-top: 25px; */
    border-bottom: 1px solid #666;
}
.ce-top-top span{
    font-size: 20px;
    color: #5e5e5e;
    line-height: 75px;
    
}
.ce-top-top span:nth-child(1){
color: #000;
font-weight: 800;
}
.ce-top-top span:nth-child(2),
.ce-top-top span:nth-child(3){
   padding-left: 40px;
}


.ce-bottom{
    width: 90%;
    margin-left: 10%;
    height: 500px;
}


.ce-bottom-bufen{
    height: 100px;
    width: 100%;
    margin-top: 15px;
}
.ce-bottom-bufen img{
    width: 75px;
    height: 75px;
    float: left;
}
.ce-bottom-bufen-right{
    float: left;
     margin-left: 18px;
}
.ce-bottom-bufen-right h1{
    font-size: 18px;
    font-weight: 800;
    margin-top: 16px;
}
.ce-bottom-bufen-right h3{
    font-size: 22px;
    font-weight: 300;
    margin-top: 16px;
}







.main{
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin-top: 60px;
    margin-left: 80px;
    float: left;
    width: 1020px;
    /* height: 3000px; */
}


.main-diyihang{
    float: left;
    width: 100%;
    height: 52px;
}
.main-diyihang span:nth-child(1){
    font-weight: 800;
    font-size: 50px;
    color: #000;
}

.main-diyihang span:nth-child(2){
    font-weight: 200;
    font-size: 18px;
    color: #a2a2a2;
    padding-left: 10px;

}


.ll{
    width: 100%;
    height: 53px;
    background-color: #fff;
}
.main-dierhang{
    width: 100%;
    height: 55px;
    margin-top: 84px;
}
.main-dierhang-bufen{
    float: left;
    font-size: 20px;
    background-color: #f2f2f2;
    border-radius: 22px;
    color: #333;
    padding: 12px 20px;
}

.main-dierhang-bufen span:nth-child(2){
    padding-left: 10px;
}
.yy{
    background-color: #ffe12c;
}
.a{
    width: 10px;
    height: 55px;
    float: left;
}




.main-disanhang{
    width: 100%;
    height: 60px;
    background-color: #fafafa;
}

.flex_c{
    width: 100%;
    height: 60px;
}
.flex_c li{
    float: left;
    line-height: 60px;
    color: #999;
    font-size: 14px;
}
.head_num{
  margin-left: 37px;
}
.head_name{
    margin-left: 145px;
}
.head_artist{
    margin-left: 235px;
}
.head_album{
    margin-left: 135px;
}
.head_time{
    margin-left: 260px; 
}



.main-nr{
    width: 100%;
    
}

.main-nr-bufen{
    width: 100%;
    height: 70px;
}
.main-nr-bufen-xh{
    /* background-color: #787875; */
    line-height: 70px;
    width: 164px;
    height: 100%;
    float: left;
    margin-left: 37px;
    font-size: 30px;
}

.main-nr-bufen-xh img{
    width: 60px;
    height: 60px;
    float: right;
    align-items: center;
}

.main-nr-bufen-gq{
    /* overflow: hidden; */
    line-height: 70px;
    width: 164px;
    height: 100%;
    float: left;
    margin-left: 11px;
    font-size: 15px;
    /* background-color: #787872; */
}
.main-nr-bufen-gq span:nth-child(2){
    color: #eac383;
}
.main-nr-bufen-gq span:nth-child(3){
    font-size: 21px;

}
.main-nr-bufen-gs{
   
    width: 165px;
    height: 70px;
    line-height: 70px;
    float: left;
    margin-left: 93px;
    font-size: 15px;

}

.main-nr-bufen-zj{
    /* background-color: #314576; */
    width: 165px;
    height: 70px;
    line-height: 70px;
    float: left;
    /* margin-left: 93px; */
    font-size: 15px;

}
.main-nr-bufen-sc{
    width: 51px;
    height: 70px;
    line-height: 70px;
    float: left;
    margin-left: 122px;
    font-size: 15px;
}




.main-nr li:nth-child(2n){
    background-color: #fafafa;
}


.tupian{
    /* position: absolute; */
    position: relative;
    width: 100%;
    /* height: 5475px; */
}

.tupian img {
    width: 100%;
    /* height: 5475px; */
}







.dishibufen{
    /* margin-top: 1000px; */
    /* position: absolute; */
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 60px;
    background-color: #1f1f1f;
}
.dishibufen-quyu{
    width: 100%;
    height: 60px;
}
.dishibufen-quyu-bufen{
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 21px;
}
.dishibufen-quyu-bufen a{
    color: #808080;
}
.dishibufen-buchong{
    height: 29px;
    width: 100%;
    background-color: #1f1f1f;
}
.dishibufen-buchong{
    width: 100%;
    height: 100px;
    background-color: #1f1f1f;
}
.dishibufen-buchong-yi{
    width: 100%;
    height: 30px;
    background-color: #1f1f1f;
}
html {
    position: relative;

}