@media screen and (width: 320px) {
  html {
    font-size: calc(320px / 20);
  }
}


@media screen and (width: 375px) {
  html {
    font-size: calc(375px / 20);
  }
}


@media screen and (width: 414px) {
  html {
    font-size: calc(414px / 20);
  }
}




