/* 版心 */
.container {
  position: relative;
  margin: 0 auto;
  width: 1470px;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: "";
  /* 既让伪元素变成块级 还让他们排在一行 */
  display: table;
}

.clearfix:after {
  clear: both;
}

/* 兼容ie 6 7 */
.clearfix {
  *zoom: 1;
}

@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before {
  content: "\e61c";
}

.icon-weixin:before {
  content: "\e660";
}

.icon-xiaochengxu:before {
  content: "\e509";
}

.icon-shouji:before {
  content: "\e502";
}
.icon-weibo:before {
  content: "\e623";
}

.icon-weixin:before {
  content: "\e616";
}

.icon-xiaochengxu:before {
  content: "\e642";
}

.icon-shouji:before {
  content: "\e504";
} 
.icon-weibo:before {
  content: "\e754";
}

