
.diyibufen{
    width: 100%;
    height: 69px;
    border-bottom:1px solid #f0f0f0 ;
    background-color: #fff;
}
.diyibufen-left{
width: 100%;
height: 100%;
line-height: 69px;
float: left;
}
.diyibufen-left img{
    width: 134px;
    height: 38px;
    margin-top: 10px;
}
.diyibufen-left a{
    font-size: 20px;
    height: 69px;
    width: 100px;
    background-color:#fff;
    color: #5a5d5a;
   padding: 24px 19px;
  
}
.diyibufen-left-dierge{
 margin-left: 38px;  
}
.diyibufen-left a:hover{
    background-color: #ffe443;
}
.diyibufen-right{
    position: relative;
    float: right;
    margin-right: 20px;
    /* display:inline; */

}
.diyibufen-right input{
    margin-top: 14px;
    float: left;
    height: 20px;
    width: 290px;
    border: 0;
    background-color: #f5f5f5;
    padding: 10px 20px;
}
.diyibufen-right-bufen{
    padding: 0;
    background-color: #fff;
    font-size: 20px;

}
.diyibufen-right-bufen:hover{
    background-color: #fff;
}
/* 第二部分 */
.dierbufen{
    width: 100%;
    height: 56px;
    margin-top: -13px;
    background-color: #fff;
    position: relative;
}
.dierbufen-title{
    margin-left: 219px;
    line-height: 56px;
}
.dierbufen-title a{
    /* position: relative; */
    font-size: 19px;
    color: #959795;
    margin-right: 35px
}

.dierbufen-title a:hover{
    font-weight: 700;
    border-bottom: 8px solid #ffe443;
    /* font-size: 20px;  */
}
/* 第三部分 */
.disanbufen{
    width: 100%;
    height: 402px;
    background-color: #fff;
}
.disanbufen-quyu{
    width: 100%;
    height: 402px;
    margin-top: 19px;
    margin-bottom: 79px;
}
.disanbufen-quyu-tupian{
    height: 100%;
    width: 100%;
   
}
.disanbufen-quyu-xiabiao{
    /* float: left; */
    height: 62px;
    width: 1401px;
    background-color: rgba(0,0,0,0.3);
    position: relative;
    margin-top: -62px;
    text-align: center;
}
.disanbufen-quyu-xiabiao a{
color: #fff;
font-size: 22px;
line-height: 62px;

/* margin-left: 100px; */
}
.disanbufen-quyu-xiabiao .iconfont{
    font-size: 22px;
    padding-right: 10px;
}
.disanbufen-quyu-xiabiao a:hover{
    color: #fff;
}
.disanbufen-quyu-xiabiao i{
    margin: 0 80px;
    color: #fff;
}
/* 第四部分 */
.disibufen{
    width: 100%;
    height: 390px;
    background-color: #fff;
    margin-top: 70px;
    
}
.disibufen-quyu{
    height: 100%;
    width: 100%;

}
.disibufen-quyu-biaoti{
    width: 100%;
    height: 27px;
    margin-bottom: 38px;
}
.disibufen-quyu-biaoti i{
    font-size: 32px;
    font-weight: 700;
}
.disibufen-quyu-biaoti a{
    font-weight: 600;
    margin-left: 45px;
    font-size: 18px;
    color: #999;
    font-weight: 200;
}
.disibufen-quyu-biaoti a:hover{
    border-bottom: 8px solid #ffe443;
}

.disibufen-quyu-tupian{
    width: 100%;
    height: 326px;
background-color: #fff;
}
.disibufen-quyu-tupian-bufen-diyi{
    display: inline-block;
    position: relative;
}

.disibufen-quyu-tupian-bufen-diyi span{
    position: absolute;
    visibility: hidden;
   display: block;
    display: inline-block;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 50px;
    margin-left: -171px;
    margin-top: 87px;
}


.disibufen-quyu-tupian-bufen-diyi .iconfont{
    padding-left: 14px;
    color: #ccc;
    font-size: 80px;
    /* background-color: #ccc; */
    padding-top: 22px;
    
}
.disibufen-quyu-tupian-bufen{
    display: inline-block;
    /* float: left; */
    margin-left: 13px;
}
.disibufen-quyu-tupian img{
    width: 265px;
    height:265px ;
}
.disibufen-quyu-tupian h1{
    margin-top: 16px;
    font-size: 17px;
    font-weight: 400;
}
.disibufen-quyu-tupian h1:hover{
    font-weight: 700;
}
.disibufen-quyu-tupian i{
    line-height: 36px;
    font-size: 16px;
    color: #999999;
}
.disibufen-quyu-tupian .iconfont{
 padding-right: 5px;
}

/* 第五部分 */
.diwubufen{
    background-color: #fff;
    margin-top: 96px;
    height: 288px;
    width: 100%;
}
.diwubufen-quyu{
    height: 288px;
    width: 100%;
}
.diwubufen-quyu-dingbu{
    width: 100%;
    height: 63px;
    background-color: #fff;
}
.diwubufen-quyu-dingbu h6{
 color: #000;
 font-weight: 700;
 font-size: 30px;
}
.diwubufen-quyu-tupian img{
width: 691px;
height: 227px;
}
.diwubufen-quyu-tupian-diyi{
    margin-right: 16px;
}


/* 第六部分 */

.doliubufen{
    margin-top: 77px;
    width: 100%;
    height: 583px;
    background-color: #f7f7f7;
    /* margin-bottom: 79px; */
}

.diliubufen-quyu{
    height: 583px;
    width: 100%;

}
.diliubufen-quyu-title{
    
height: 32px;
width: 100%;
background-color: #f7f7f7;
float: left;
}
.diliubufen-quyu-title h1{
    font-size: 32px;
    display: inline;
    margin-right: 40px;
}
.diliubufen-quyu-title a{
font-size: 15px;
font-weight: 100;
}



.diliubufen-quyu-xiabu{
   margin-top: 30px;
   /* float: left; */
   height: 524px;
   width: 100%;
   background-color: #f7f7f7;
   display: inline-block;
}
.diliubufen-quyu-xiabu-bufen{
   

    float: left;
    width: 265px;
    height: 100%;
    background-color: #fff;
}
.diliubufen-quyu-xiabu-bufen:nth-last-child(-n+4){
margin-left: 19px;
}

.diliubufen-xiabu-bufen-size-left{
    position: relative;
    float: left;
    margin-top: 20px;
}
.diliubufen-xiabu-bufen-size-right{
    /* float: left; */
    display: inline-block;
    margin-top: 30px;
}
.diliubufen-xiabu-bufen-size-right-xiabu{
    width: 100%;
    height: 43px;
    margin-left: 22px;
    margin-bottom: 25px;
}
.diliubufen-xiabu-bufen-size-right-xiabu a{
    font-size: 19px;

}
.diliubufen-xiabu-bufen-size-right-xiabu a:hover{
    font-weight: 700;
}
.diliubufen-xiabu-bufen-size-right-xiabu span{
    font-weight: 100;
    line-height: 27px;
    font-size: 17px;
}



.buchong{
    width: 100%;
    height: 79px;
    background-color: #f7f7f7;
}
/* 第七部分 */


.diqibufen{
    height: 362px;
    width: 100%;
    background-color: #ffffff;
    /* margin-top: 79px; */
    margin-bottom: 74px;
}
.diqibufen-quyu{
    height: 300px;
    width: 100%;
    background-color: #fff;
}
.diqibufen-quyu-title{
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
}
.diqibufen-quyu-title .iconfont,
.diliubufen-quyu-title .iconfont,
.disibufen-quyu-biaoti .iconfont,
.disibufen-quyu-biaoti .iconfont{
    margin-left: 4px;
    font-size: 14px;
    color: #999999;
}
.diqibufen-quyu-title span{
    font-size: 30px;
    font-weight: 700;
    margin-right: 13px;
}
.diqibufen-quyu-title a{
    margin-right: 13px;
    font-size: 16px;
    color: #959795;
   
}
.diqibufen-quyu-title a:hover{
  color: #000;
  border-bottom:8px solid #ffe443;
}

.diqibufen-quyu-xiabu{
    height: 243px;
    width: 100%;
    background-color: #fff;
}
.diqibufen-quyu-xiabu-bufen{
    display: inline-block;
    height: 243px;
    width: 184px;
    overflow: hidden;
    /* margin: 0 auto; */
    /* float: left; */
}
.diqibufen-quyu-xiabu-bufen:nth-last-child(-n+5){
    margin-left: 56px;
}
.diqibufen-quyu-xiabu-bufen h3{
    text-align: center;
    margin-top: 22px;
    font-size: 16px;
}
.diqibufen-quyu-xiabu-bufen h6{
    text-align: center;
    color: #999999;
    line-height: 30px;
}
/* 第八部分 */
.dibabufen{
    height: 390px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 80px;
   
}
.dibabufen-quyu{
    height: 390px;
    width: 100%;
    background-color: #fff;
}
.dibabufen-quyu-title{
    height: 33px;
    width: 100%;
    margin-bottom: 34px;
}

.dibabufen-quyu-title span{
    font-size: 33px;
    font-weight: 700;
}
.dibabufen-quyu-title  a{
    margin-left: 28px;
    font-size: 18px;
    background-color: #ffdf1f;
    padding: 14px 10px;
    line-height: 33px;
}
.dibabufen-quyu-xiabu{
    width: 100%;
    height: 322px;
    
}
.dibabufen-quyu-xiabu-bufen{
    width: 449px;
    height: 100%;
    display: inline-block;

}
.dibabufen-quyu-xiabu-bufen:nth-last-child(-n+2){
    margin-left: 24px;
}
.dibabufen-quyu-xiabu-bufen-bankuai{
    width: 100%;
    height: 92px;
    margin-bottom: 26px;
    overflow: hidden;
}
.dibabufen-quyu-xiabu-bufen-bankuai img{
    position: relative;
    float: left;
    /* width: 92px;
    height: 92px; */

} 
.dibabufen-quyu-xiabu-bufen-right{
margin-left: 100px;
/* margin: 22px 0 22px 100px; */
margin-top: 22px;

   border-bottom: 1px solid #cccccc;
   
}
.dibabufen-quyu-xiabu-bufen-right h1{
  font-size: 18px;
  font-weight: 500;
}
.dibabufen-quyu-xiabu-bufen-right h4{
padding-bottom: 22px;
line-height: 29px;
font-weight: 100;
font-size: 15px;
}
.dibabufen-quyu-xiabu-bufen-right h1:hover{
    font-weight: 700;
}
.dibabufen-quyu-xiabu-bufen-right h4:hover{
    font-weight: 500;
}
/* 第九部分 */
.dijiubufen{
    width: 100%;
    height: 117px;
    background-color: #282828;
}
.dijiubufen-quyu{
    width: 100%;
    height: 117px;
    overflow: hidden;
    
}
.dijiubufen-quyu-bufen,
.dijiubufen-quyu-bufen-dier{
    width: 235px;
    height: 117px;
    display: inline-block;
}
.dijiubufen-buchong{
    width: 100%;
    height: 50px;
    background-color: #282828;
}


.dijiubufen-quyu-bufen h1,
.dijiubufen-quyu-bufen-dier h1{
color: #ffffff;
font-size: 16px;
padding-bottom: 40px;
}
.dijiubufen-quyu-bufen-dier{
    margin-left: 245px;
}
.dijiubufen-quyu-bufen a{
  display: inline-block;
  color: #808080;
  margin-right: 34px;
}
.dijiubufen-quyu-bufen a span{
    font-size: 35px;
}
.dijiubufen-quyu-bufen a h3{
    padding-top: 5px;
}
.dijiubufen-quyu-bufen-dier a{
margin-top: 39px;
color: #808080;
font-size: 17px;
line-height: 30px;
margin-right: 10px;
}
.dijiubufen-quyu-bufen a:hover,
.dijiubufen-quyu-bufen-dier a:hover,
.dishibufen-quyu-bufen a:hover{
  color: #f2d41d;
}


/* 第十部分 */
.dishibufen{
    width: 100%;
    height: 60px;
    background-color: #1f1f1f;
}
.dishibufen-quyu{
    width: 100%;
    height: 60px;
}
.dishibufen-quyu-bufen{
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 21px;
}
.dishibufen-quyu-bufen a{
    color: #808080;
}
.dishibufen-buchong{
    height: 29px;
    width: 100%;
    background-color: #1f1f1f;
}
.dishibufen-buchong{
    width: 100%;
    height: 100px;
    background-color: #1f1f1f;
}
.dishibufen-buchong-yi{
    width: 100%;
    height: 30px;
    background-color: #1f1f1f;
}

