
.toolbar-layer {
    position: absolute;
    right: $toolbar-size;
    bottom: 0;
    width: 172px;
    background-image: url(../img/toolbar.png);
    background-repeat: no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0.01);
  }
  .toolbar-item {
    position: relative;
    display: block;
    width: $toolbar-size;
    height: $toolbar-size;
    background-image: url(../img/toolbar.png);
    background-repeat: no-repeat;
    margin-top: 1px;
   
    &:hover{
      .toolbar-layer{
        opacity: 1;
        filter: alpha(opacity=100);
        transform: scale(1);
      }
    }
  }
 