header{
    background-size:cover;
    overflow: hidden;
   /* background-attachment: fixed; */
    
   background-repeat:no-repeat;
    width: 100%;
    background-image: url(../img/动图1.jfif);
    height: 1046px;
}
.title{
    /* overflow: hidden; */
    /* position: relative; */
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    height: 41px;
}
.title-auto{
    /* position: relative; */
    /* display: inline; */
    width: 480px;
    height: 22px;
    margin: 0 auto;
    /* overflow: hidden; */
    
}

.title img{
    margin-top: 28px;
    margin-left: 200px;
    /* margin-top: 100px; */
    width: 160px;
    height: 50px; 
    
}
.title-auto li{
    float: left;
    font-size: 18px;
    /* margin: 28px auto; */
    color: #f7f7f7;
    padding-right: 25px;
}
.title-right{
    margin-top: -45px;
    margin-right: 260px;
    display: block;
    width: 151px;
    height: 35px;
    float: right;
}
.title-right span{
   
    /* margin: 28px auto; */
    padding: 10px 18px;
   
     font-size: 14px;
     display: inline;
}

.title-right span:nth-child(1){
  background-color: #f5f5f5;
  width: 63px;
    height: 34px;
color: #666;
}
.title-right span:nth-child(2){
    background-color: #0069dd;
    margin-left: 10px;
    width: 63px;
    height: 34px;
  color: #fff;
  }
.zhongbu{
    display: block;
    margin-top: 330px;
    /* margin: auto; */
    width: 533px;
    height: 125px;
    margin-left: 590px;
}
.zhongbu i{
    font-size: 38px;
    color: #666;
}
.zhongbu a{
    margin-top: 70px;
    display: block;
    text-align: center;
}
.zhongbu a s{
    font-size: 20px;
    color: #ccc;
}
.xiabu{
    position: relative;
    margin-top:266px ;
    margin-left: 300px;
    width: 855px;
    height: 81px;
}
.xiabu ul{
    display: inline-block;
    
}
.xiabu li{
    float: left;
    padding-left: 110px;
    width: 61px;
    height: 82px;
}
.xiabu ul li span{
    background-color: #464646;
    font-size: 28px;
    padding: 13px;
    border-radius: 15px;
    color: #a7b0ba;
}
.xiabu ul li i{
    display: block;
    margin-top: 24px;
    color: #a7b0ba;
    font-size: 14px;
    margin-left: -3px;
}
.zuidibu{
    background-color: rgba(0,0,0,0.75);
    /* position: relative; */
    overflow: hidden;
    width: 100%;
    height: 76px;
   margin-top: 100px;
}
.zuidibu img{
      margin-left: 150px;
}
.zuidibu input{
    /* position: absolute; */
    /* margin-right: 197px; */
    width: 470px;
    height: 35px;
    float: right;
    margin-top: 25px;
    margin-right: 15px;
}

.zuidibu a{
    background-color: #0069dd;
    display: block;
    float: right;
    margin-top: 25px;
    padding: 12px 20px;
    color: #fff;
    /* margin-left: 18px; */
    margin-right: 120px;
}

/* duozhong */
nav{
    width: 100%;
    background-color: #fff;
}
.duozhong{
    position: relative;
    width: 1668px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 55px;
}
.duozhong-left{
  width: 922px;
  margin-left: 30px;
}
.duozhong-right{
    margin-right: 115px;
    width: 565px;
    height: 198px;
    float: right;
}
.duozhong-left-bottom-bufen span:hover{
    color: #fff;
    background-color: rgb(80, 80, 218);
}
.duozhong-left-bottom-bufen{
    float: left;
    width: 74px;
    height: 100px;
    overflow: hidden;
}

.duozhong-left-bottom-bufen span{
    display: block;
    font-size: 49px;
    border-radius: 50px;
    background-color: #666;
    padding: 10px;
    color: #fff;
}
.duozhong-left-bottom-bufen i{
    display: block;
    text-align: center;
    margin-top: 5px;
}

.ww{
    margin-left: 70px;
}





.duozhong-left-top{
    float: left;
    width: 300px;
}
.duozhong-left-top h3{
    font-size: 22px;
    color: #5c5e5c;
    border-left: 8px solid #19a1ee;
    border-radius: 2px 2px;
    padding-left: 12px;
}
.duozhong-right-top h3{
    font-size: 22px;
    color: #5c5e5c;
    /* padding-left: 10px; */
    border-left: 8px solid #19a1ee;
    border-radius: 2px 2px;
    padding-left: 12px;
}
.duozhong-left-top span,
.duozhong-right-top span{
    display: block;
    margin-top: 14px;
    color: #aaaabd;
    font-size: 16px;
}
.duozhong-left-bottom img,
.duozhong-right-bottom img{
 width: 81px;
 height: 117px;
}
.duozhong-left-bottom{
    position: absolute;
    margin-top: 105px;
    width: 887px;
    
    /* display: block; */
    height: 115px;
}
.duozhong-left-bottom img{
    /* display: block; */
    margin-left: 30px;
}
.duozhong-right-bottom img{
  margin-left: 30px;
}
.duozhong-left-bottom img:hover,
.duozhong-right-bottom img:hover{
    color: #19a1ee;
}
.duozhong-right-bottom{
    position: absolute;
    margin-top: 53px;
    width: 887px;
    /* margin-left: 100px; */
    /* display: block; */
    height: 115px;
}

.zhongxin-auto{
    /* margin-top: 55px; */
    margin-bottom: 55px;
    /* position: relative; */
    height: 94px;
    width: 100%;
}
.zhongxin-auto{
    width: 610px;
    height: 94px;
    margin: 0 auto;
}
.disanbufen{
    position: relative;
    width: 100%;
    margin-top: 60px;
}
.disanbufen-left{
    float: left;
}
.disanbufen-left img{
    /* box-sizing: 765px 495px; */
    width: 765px;
    height: 495px;
}
.disanbufen-right{
    float: right;
}
.disanbufen-right img{
    margin-top: 20px;
}
.disanbufen-right span{
    position: absolute;
    display: block;
    font-size: 18px;
    background-color: #19a1ee;
    /* color: #fff; */
    border-radius: 15px;
    top: 405px;
    right: 71px;
}
.disanbufen-right span a{
    color: #fff;
}


.mains{
    width: 100%;
    background-image: url(../img/reply.jpg);
}

.buchong{
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.disibufen{
    overflow: hidden;
    width: 100%;
    /* margin-top: 60px; */
    background-color: #f5f5f5;
}
.disibufen img{
    width: 590px;
    height: 80px;
    margin-left: 525px;
        
    /* margin-right: 300px; */
    /* text-align: center; */
}

.buchonger{
    width: 100%;
    height: 115px;
    background-color: #f5f5f5;
    /* margin-bottom: 100px; */
}
.diwubufen{
    background-color: #f5f5f5;
}
.diwubufen-tiaozheng{
    width: 1300px;
    height: 325px;
    /* text-align: center; */
    margin: 0 auto;
}
.diwubufen img{
    /* text-align: center; */
    width: 1300px;
    height: 325px;
    /* margin-left: 110px; */
}
.buchongsan{
    background-color: #f5f5f5;
    height: 100px;
}

.diliubufen{
    width: 100%;
    height: 195px;
}
.diliubufen-top{
   margin-top: 30px;
   width: 100%;
}
.diliubufen-top h2{
    font-size: 20px;
    margin-left: 255px;
}
.diliubufen-bottom-auto{
    /* margin: 0 auto; */
    margin-top: 30px;
    margin-left: 296px;
}
.diliubufen-bottom-auto img{
    width: 90px;
    height: 30px;
    margin-right: 65px;
    opacity: .3;
    filter: grayscale(100%);
}
.diliubufen-bottom-auto img:hover{
    opacity: 1.3;
    filter: grayscale(0);
}


.diqibufen{
    width: 100%;
    height: 500px;
    background-color: #3b3b3b;
}
.diqibufen-left{
   /* overflow: hidden; */
    width: 700px;
    height: 375px;
}
.diqibufen-left-bufen{
    float: left;
}
.diqibufen-left-bufen li{
    font-size: 8px;
    margin-top: 28px;
    color: #ccc;
}
.diqibufen-left-bufen li a:hover{
    border-bottom: 1px solid #ccc;
}
.diqibufen-left-bufen li:first-child{
    color: #777;
    font-size: 20px;
}
.diqibufen-left ul:nth-child(1){
    margin-left: 126px;
}
.diqibufen-left ul:nth-child(2),
.diqibufen-left ul:nth-child(3){
 margin-left: 100px;
}
.diqibufen-auto-bufen{
   /* display: inline-block; */
   width: 200px;
   /* float: left; */
   float: left;
   margin-left: 650px;
   margin-top: -340px;
}
.diqibufen-auto-bufen img{
    
    /* display: block; */
    width: 200px;
    height: 300px;
}

.diqibufen-right-bufen{
    position: relative;
    float: right;
    width: 420px;
    height: 340px;
    margin-top: -340px;
    margin-right: 148px;
}

.diqibufen-right-bufen b{
    color: #777;
    font-size: 18px;
}
.diqibufen-right-bufen-nav{
    background-color: #363434;
    color: #ccc;
    width: 100%;
    height: 250px;
}
.diqibufen-right-bufen-nav li{
     font-size: 12px;
     margin-top: 22px;
    
}
.diqibufen-right-bufen-nav li:nth-child(1){
    /* margin-top: 40px; */
    padding-top: 20px;
}
.diqibufen-right-bufen-nav li span{
    float: right;
    padding-right: 10px;
}
.diqibufen-right-bufen-nav li a{
    color: #ccc;
    margin-left: 10px;
}
.diqibufen-right-bufen-nav li a:hover{
    border-bottom: 1px solid #ccc;
}
.diqibufen-right-bufen p a{
   font-size: 14px;
   color: #666;
   background-color: #444;
   border-radius: 15px;
   padding: 4px 6px;
   float: right;
   /* margin-top: 10px; */
   /* top: 10px; */
   /* padding-bottom: 40px; */
}
.diqibufen-right-bufen p a:hover{
    background-color: #666;
    color: #ccc;
    /* margin-bottom: 40px; */
}
.diqibufen-right-bufen p{
    margin-top: -30px;
}


.dibabufen-dibu{
    /* position: relative; */
    background-color: #2c2c2c;
    width: 100%;
}
.dibabufen-dibu img{
    /* position: absolute; */
    /* margin: 0 auto; */
    margin-left: 122px;
    width: 1232px;
    height: 100px;
}





