.diyibufen{
    width: 100%;
    height: 69px;
    border-bottom:1px solid #f0f0f0 ;
    background-color: #fff;
}
.diyibufen-left{
width: 100%;
height: 100%;
line-height: 69px;
float: left;
}
.diyibufen-left img{
    width: 134px;
    height: 38px;
    margin-top: 10px;
}
.diyibufen-left a{
    font-size: 20px;
    height: 69px;
    width: 100px;
    background-color:#fff;
    color: #5a5d5a;
   padding: 24px 19px;
  
}
.diyibufen-left-dierge{
 margin-left: 38px;  
}
.diyibufen-left a:hover{
    background-color: #ffe443;
}
.diyibufen-right{
    position: relative;
    float: right;
    margin-right: 20px;
    /* display:inline; */

}
.diyibufen-right input{
    margin-top: 14px;
    float: left;
    height: 20px;
    width: 290px;
    border: 0;
    background-color: #f5f5f5;
    padding: 10px 20px;
}
.diyibufen-right-bufen{
    padding: 0;
    background-color: #fff;
    font-size: 20px;

}
.diyibufen-right-bufen:hover{
    background-color: #fff;
}



.dierbufen{
  
    width: 100%;
    height: 669px;
}
.b{
    height: 100%;
    width: 1470px;
    margin: 0 auto;
}
.dierbufen-left {
    float: left;
    overflow: hidden;
    width: 735px;
    height: 669px;
    background-image: url(../img/dd.png);
}
.dierbufen-right{
    float: left;
    width: 50%;
    height: 669px;
   
}
.dierbufen-right img {
    width: 724px;
    height: 480px;
    margin: 89px 0px 80px 0;
}
.dierbufen-left-bufen {
    width: 374px;
    height: 264px;
    margin: 176px 161px 228px 0;
}
.dierbufen-left-bufen h2{
    font-size: 51px;
    font-weight: normal;
}

.dierbufen-left-bufen h3{
    font-weight: 200;
    font-size: 24px;
    color: #666;
    margin-top: 22px;
}
.dierbufen-left-bufen-bufen{
    margin-top: 47px;
    width: 369px;
    height: 122px;
}
.dierbufen-left-bufen-bufen img{
    width: 177px;
    height: 55px;
    
}
.dierbufen-left-bufen-bufen img:nth-child(2){
    margin-left: 8px;
}


.dierbufen-left-bufen-bufen img:nth-child(3){
    margin-top: 10px;
}


.disanbufen{
    width: 100%;
    background-color: #fff;
}

.disanbufen-top{
    width: 1470px;
    font-size: 25px;
    color: #333;
    margin: 0 auto;
}
.n{
    background-color: #fdfdfd;
    width: 100%;
    height: 28px;
}
.y{
    width: 100%;
height: 346px;
/* margin: 0 auto; */
/* background-color: #f4f4f4; */
}
.disanbufen-bottom {
    width: 1470px;
    height: 345px;
    margin: 0 auto;
    background-color: #f4f4f4;
    /* margin-top: 37px; */
}

.disanbufen-bottom-bufen{
    height: 100%;
    width: 243px;
    background-color: #fff;
    /* margin-top: 37px; */
    /* overflow: hidden; */
    float: left;
    box-shadow:0 0 1px 1px #ccc;
    box-sizing: border-box;
}
.disanbufen-bottom-bufen img{
    width: 119px;
    height: 176px;
    /* float: left; */
}
.disanbufen-bottom-bufen-bottom{
margin: auto;
    margin-top: 37px;
    width: 176px;
    height: 280px;
    

}
.disanbufen-bottom-bufen-bottom img{
    width: 57px;
    height: 57px;
     margin-left: 33%;
    margin-top: 37px;

   
    /* text-align: center; */
    
}
.disanbufen-bottom-bufen-bottom h1,
.disanbufen-bottom-bufen-bottom i,
.disanbufen-bottom-bufen-bottom span,
.disanbufen-bottom-bufen-bottom a{
    display: block;
    /* float: left; */
    text-align: center;
    /* margin: 0 auto; */
}
.disanbufen-bottom-bufen-bottom h1{
    font-size: 12px;
    font-weight: 800;
    margin-top: 22px;
}
.disanbufen-bottom-bufen-bottom i{
    margin-top: 8px;
    font-size: 10px;
    color: #999;
}
.disanbufen-bottom-bufen-bottom span{
    color: #333;
    font-size: 12px;
    line-height: 20px;
}


.disanbufen-bottom-bufen-bottom a{
    margin-top: 52px;
    background-color: #f2f2f2;
    /* width: 133px;
    height: 36px; */
    color: #666;
    border-radius: 22px;
    font-size: 13px;
    padding: 12px 30px;
}

.disanbufen-bottom-bufen:nth-child(2),
.disanbufen-bottom-bufen:nth-child(3),
.disanbufen-bottom-bufen:nth-child(4),
.disanbufen-bottom-bufen:nth-child(5){
 margin-left: 63px;
}
.bai,
.bi{
    width: 100%;
    height: 150px;
    background-color: #fff;
   
}

.disibufen{
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #fff;

}


.disibufen-left{
    
    width: 893px;
    height: 603px;
    float: left;
}
.disibufen-left img {
    width: 893px;
    height: 603px;
}

.disibufen-right{
    margin-top: 150px;
    margin-left: 130px;
    width: 384px;
    height: 311px;
    float: left;
}
.disibufen-right img{
    width: 384px;
    height: 311px;
}






.diwubufen{
    position: relative;
    height: 656px;
    width: 100%;
    background-color: #fff;
    
}


.diwubufen-left{
    margin-top: 237px;
   float: left;
   width: 352px;
   height: 217px;
}

.diwubufen-left img{
    width: 352px;
    height: 217px;
}


.diwubufen-right{
    margin-left: 130px;
    width: 940px;
    height: 757px;
    float: left;
}
.diwubufen-right img{
    width: 940px;
    height: 757px;
    
}




.diqibufen{
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    background-color: #fff;

}


.diqibufen-left{
    
    width: 893px;
    height: 603px;
    float: left;
}
.diqibufen-left img {
    width: 893px;
    height: 603px;
}

.diqibufen-right{
    margin-top: 150px;
    margin-left: 130px;
    width: 384px;
    height: 311px;
    float: left;
}
.diqibufen-right img{
    width: 384px;
    height: 311px;
}


.hei{
    width: 100%;
    height: 70px;
    background-color: #282828;
    margin-top: 180px;
}
.dijiubufen{
    /* margin-top: 180px; */
    width: 100%;
    height: 117px;
    background-color: #282828;
}
.dijiubufen-quyu{
    width: 100%;
    height: 117px;
    overflow: hidden;
    
}
.dijiubufen-quyu-bufen,
.dijiubufen-quyu-bufen-dier{
    width: 235px;
    height: 117px;
    display: inline-block;
}
.dijiubufen-buchong{
    width: 100%;
    height: 50px;
    background-color: #282828;
}


.dijiubufen-quyu-bufen h1,
.dijiubufen-quyu-bufen-dier h1{
color: #ffffff;
font-size: 16px;
padding-bottom: 40px;
}
.dijiubufen-quyu-bufen-dier{
    margin-left: 245px;
}
.dijiubufen-quyu-bufen a{
  display: inline-block;
  color: #808080;
  margin-right: 34px;
}
.dijiubufen-quyu-bufen a span{
    font-size: 35px;
}
.dijiubufen-quyu-bufen a h3{
    padding-top: 5px;
}
.dijiubufen-quyu-bufen-dier a{
margin-top: 39px;
color: #808080;
font-size: 17px;
line-height: 30px;
margin-right: 10px;
}
.dijiubufen-quyu-bufen a:hover,
.dijiubufen-quyu-bufen-dier a:hover,
.dishibufen-quyu-bufen a:hover{
  color: #f2d41d;
}


/* 第十部分 */
.dishibufen{
    width: 100%;
    height: 60px;
    background-color: #1f1f1f;
}
.dishibufen-quyu{
    width: 100%;
    height: 60px;
}
.dishibufen-quyu-bufen{
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 21px;
}
.dishibufen-quyu-bufen a{
    color: #808080;
}
.dishibufen-buchong{
    height: 29px;
    width: 100%;
    background-color: #1f1f1f;
}
.dishibufen-buchong{
    width: 100%;
    height: 100px;
    background-color: #1f1f1f;
}
.dishibufen-buchong-yi{
    width: 100%;
    height: 30px;
    background-color: #1f1f1f;
}

